<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<form th:action="@{/order/addItemToOrder}" th:Object="${connectEntities}" method="post">

    <h2 th:text="#{addItemToOrder.title}"></h2>

    <h4 th:text="#{addItemToOrder.orderId}"></h4>
    <input type="text" name="firstEntityId" th:value="${firstEntityId}"/>
    <h4 th:text="#{addItemToOrder.itemId}"></h4>
    <input type="text" name="secondEntityId" th:value="${secondEntityId}"/>

    <div class="submit">
        <button type="submit" name="addItemToOrder">Добавить</button>
    </div>
</form>

</body>
</html>
