<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<form th:action="@{/order/addOrder}" th:Object="${orderRequest}" method="post">

<h2 th:text="#{addOrder.title}"></h2>


<h4 th:text="#{addOrder.totalPrice}"></h4>
<input type="text" name="totalPrice" th:value="${totalPrice}"/>

<div class="submit">
    <button type="submit" name="addOrder">Добавить заказ</button>
</div>
</form>

</body>
</html>
