<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<form th:action="@{/item/getPage}" th:Object="${pageParams}" method="post">

    <h2 th:text="#{getItemPagination.title}"></h2>

    <h4 th:text="#{getItemPagination.startIndex}"></h4>
    <input type="text" name="startIndex" th:value="${startIndex}"/>

    <h4 th:text="#{getItemPagination.finishIndex}"></h4>
    <input type="text" name="finishIndex" th:value="${finishIndex}"/>


    <div class="submit">
        <button type="submit" name="getItemPagination">Найти элемент</button>
    </div>
</form>

</body>
</html>
