<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<h2 th:text="#{index.title}"></h2>
<table>
    <tbody>
    <tr>
        <td th:text="#{auth.text}"></td>
    </tr>

    <tr>
        <td th:text="#{auth.request.text}"></td>
        <td th:text="#{auth.request.method}"></td>
        <td th:text="#{auth.request.url}"></td>
        <td th:text="#{auth.request.api}"></td>
    </tr>
    <tr>
        <td th:text="#{auth.refresh.text}"></td>
        <td th:text="#{auth.refresh.method}"></td>
        <td th:text="#{auth.refresh.url}"></td>
        <td th:text="#{auth.refresh.api}"></td>
    </tr>

    <tr></tr>
    <tr>
        <td th:text="#{item.indexTitle}"></td>
    </tr>

    <tr>
        <td th:text="#{item.add.url.text}"></td>
        <td th:text="#{item.add.url.method}"></td>
        <td th:text="#{item.add.url.test}"></td>
        <td th:text="#{item.add.url.api}"></td>
    </tr>

    <tr>
        <td th:text="#{item.getAll.url.text}"></td>
        <td th:text="#{item.getAll.url.method}"></td>
        <td th:text="#{item.getAll.url.test}"></td>
        <td th:text="#{item.getAll.url.api}"></td>
    </tr>

    <tr>
        <td th:text="#{item.get.url.text}"></td>
        <td th:text="#{item.get.url.method}"></td>
        <td th:text="#{item.get.url.test}"></td>
        <td th:text="#{item.get.url.api}"></td>
    </tr>


    <tr>
        <td th:text="#{item.deleteItem.url.text}"></td>
        <td th:text="#{item.deleteItem.url.method}"></td>
        <td th:text="#{item.deleteItem.url.test}"></td>
        <td th:text="#{item.deleteItem.url.api}"></td>
    </tr>



    </tbody>
</table>
</body>
</html>