<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<form th:action="@{/order/updateOrder}" th:Object="${orderUpdateRequest}" method="post">

    <h2 th:text="#{updateOrder.title}"></h2>

    <h4 th:text="#{updateOrder.orderId}"></h4>
    <input type="text" name="orderId" th:value="${orderId}"/>
    <h4 th:text="#{updateOrder.totalPrice}"></h4>
    <input type="text" name="totalPrice" th:value="${totalPrice}"/>

    <div class="submit">
        <button type="submit" name="updateOrder">Обновить заказ</button>
    </div>
</form>

</body>
</html>
